html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* evita scroll horizontal */
    width: 100vw; /* ancho total de la ventana */
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}
