/* ========================= */
/* 🟢 RESETEO GLOBAL         */
/* ========================= */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100vw;
}

/* ========================= */
/* 🟢 WRAPPER PRINCIPAL       */
/* ========================= */
.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ========================= */
/* 🟢 CONTENIDO PRINCIPAL     */
/* ========================= */
.main-content {
  flex: 1;
  display: block;
  padding: 2rem 1rem;
  width: 99.1%;
}
