:root {
  --layout: #ffffff;
  --body: #e4e9f1;
  --h123: #4f46e5;
  --text: #111827;
  --buton-send: #3b82f6;
  --buton-hover: #6d28d9;
  --buton-css: #4f46e5;
  --accent-magenta: #d87ca0;
}

[data-theme='dark'] {
  --layout: #15161a;
  --body: #1C1C1C;
  --h123: #60a5fa;
  --text: #d1d5db;
  --buton-send: #3b82f6;
  --buton-hover: #8b5cf6;
  --buton-css: #f9fafb;
  --accent-magenta: #f472b6;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body);
  color: var(--text);
}